---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import getImg from "../../utils/common/getImg";
const { id } = Astro.params;

const page = await getCollection("strapiProductosLoader", ({ data }) => {
    return data.documentId === id;
});

const data = page[0].data;
---

<Layout>
    <section class="mt-22 sm:mt-28 flex flex-col sm:flex-row">
        <img
            class="sm:w-2/5 w-full p-2 rounded-lg"
            src={getImg(data.imagen?.url)}
            alt={data.imagen?.alternativeText}
        />
        <div
            class="md:border border-gray-300 md:m-2 rounded-lg py-12 px-8 bg-white sm:w-3/5 w-full flex flex-col justify-between"
        >
            <div>
                <h2 class="text-4xl font-semibold tracking-tight text-gray-900">
                    {data.nombre}
                </h2>
                <div
                    class="border border-gray-300 w-full h-0.5 rounded-2xl my-4"
                >
                </div>
                <p class="mb-8 md:w-2/3">{data.descripcion}</p>
            </div>
            <div>
                <span class="font-semibold"
                    >Cantidad disponible: {data.cantidad}</span
                >
                <h3 class="text-4xl font-semibold text-gray-900 mt-8">
                    REF: {data.precio}
                </h3>
                <button
                    class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full py-2.5 text-center"
                    >Ordenar</button
                >
            </div>
        </div>
    </section>
</Layout>
